@font-face {
    font-family: ReeyFont;
  src: url(fonts/Reey-Regular.otf);
}
@font-face {
    font-family: AlluraFont;
  src: url(fonts/Allura-Regular.otf);
}
@font-face {
    font-family: HVDFont;
  src: url(fonts/Kingthings_Trypewriter_2.ttf);
}

:root {
    --color1: rgb(29, 38, 53);
    --color2: rgb(55, 41, 32);
    --color3: rgb(54, 75, 58);
    --color4: rgb(204, 225, 244);
    --color5: rgb(171, 166, 162);
    --color6: rgb(78, 109, 84);
    --color7: linear-gradient(to right, rgb(171, 166, 162), rgb(29, 38, 53));
}

* {
    margin: 0;
    padding: 0;
}

/*************OVERALL***********/
a {
    text-decoration: none;
}
body {
    background-image: linear-gradient(var(--color5), var(--color4));
    height: 100vh;
}


/**************SITE WRAPPER*******************/

.wrapper {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto auto auto auto;

    max-width: 960px;    
    margin: auto;
}

/**************HEADER*******************/

.header {
    background-image: url('img/header-img2.png');
    background-size: fixed;
    height: 300px;
    display: grid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
h1 {
    font-family: ReeyFont;
    text-align: center;
    align-self: flex-end;
    font-size: 60px;
    margin-bottom: 60px;
    text-shadow: black 3px 10px 10px;
    font-weight: 100;
    color: rgb(78, 109, 84);

    
}

/*****************NAVBAR*********************/

.navbar {
    background-color: var(--color5);
    /* background-image: radial-gradient(var(--color3), var(--color2)); */
}

.nav-btn {
    list-style: none;  
    display: flex;
    justify-content: center;
    font-family: Allurafont;
    font-size: 2vw;
}
.nav-btn li {
    padding: 10px 20px;
}
.nav-btn li a {
    padding: 10px 20px;
}
.nav-btn a {
    color: var(--textColor);
    text-shadow: grey 0 0 10px;

}
.nav-btn a:hover {
    background-image: none;
    animation-name: button-animation;
    animation-duration: 4s;
    text-shadow: white 0 0 10px;
}
@keyframes button-animation {
    from {background-color: var(--color1)};
    to {background-color: var(--color2)};
  }


/*****************MAIN*********************/

.main {
    background-image: url('img/main-img2.jpeg');
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: space-around;
    align-items: space-around;
    max-width: 960px;
    font-family: HVDFont;
    font-weight: 100;
}

/***** BUTTONS *****/
.project-btn {
    margin: 30px;
    border: 0px double var(--color3);
    background-image: url('img/wooden-button.jpg');
    background-size: cover;
    opacity: .8;
    border-radius: 10px;
    box-shadow: black 3px 3px 3px;
}
.project-btn:hover {
    opacity: 1;
    box-shadow: black 5px 5px 10px;
}

.project-btn h3, .project-btn p {
    color: black;
    opacity: .8;
    text-align: center;
    text-shadow: black 1px 1px 1px;
}
.project-btn h3 {
    margin: 20px 10px 0 10px;
}
.project-btn p {
    margin: 0px 10px 20px 10px;
}


/******************FOOTER*******************/

.footer {
    background-color: var(--color5);
    /* background-image: linear-gradient(var(--color3), var(--color1)); */
    text-align: center;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


@media screen and (max-width: 700px) {
    
    /**************MOBILE***************/

    /***HEADER***/

    h1 {
        font-size: 50px;
        width: 100px;
        text-align: center;
        justify-self: center;
        margin-bottom: 40px;
        margin-right: 60px;
    }

    .navbar {
        display: none;
    }
    .main {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(var(--color2) 5%, transparent 95%), url('img/main-img2.jpeg');
    }
    .project-btn {
        padding: 20px;
    }

    .footer {
        background-image: linear-gradient(var(--color2), var(--color1));
    }

}