/************MOBILE/DESTOP imports************/

@font-face {
    font-family: starwars-font-regular;
    src: url(fonts/RopaSans-Regular.ttf);
  }
@font-face {
    font-family: roboto-thin;
    src: url(fonts/Roboto-Thin.ttf);
}


/******************MOBILE/DESTOP All colors***************/

:root {
    --yellow: rgb(255, 214, 0);
    --darkyellow: rgb(70, 58, 0);
    --darkergrey: rgb(39, 39, 39);
    --backgroundGrey: rgb(66, 66, 66);
    --characterHeaderGrey: rgb(83, 85, 86);
    --articleBackgroundGrey: rgb(196, 196, 196);
    --lightButtonGrey: rgb(225, 222, 222);
    --darkButtonGrey: rgb(142, 142, 142);
    --activeButtonGrey: rgb(68, 68, 68);
    --articleWorldGrey: rgb(116, 134, 135);
}

/***********MOBILE/DESTOP Animation**********/

.lds-hourglass {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
  }
@keyframes lds-hourglass {
0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
100% {
    transform: rotate(1800deg);
}
}
.loadbar {
    height: 330px;
}
.loadbar2 {
    height: 115px;
}
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: starwars-font-regular;
    font-weight: 100;
}




  

  /***************MOBILE Wrappers***************/

header {
    background-image: url("img/starwars-header.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.wrapper {
    font-family: starwars-font-regular;
    font-weight: 900;
    background-color: var(--backgroundGrey);
}
article {
    font-family: roboto-thin;
    margin: 40px;
    font-size: 14px;
    letter-spacing: 2px;
}
.char-bottom-design {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 1,5vw;
    font-weight: 100;
    padding: 3px 0;
    background-color: var(--articleBackgroundGrey);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: var(--lightButtonGrey);
}
#characters {
    background-color: var(--articleBackgroundGrey);
}
#char-details {
    background-color: var(--articleBackgroundGrey);
    color: var(--darkergrey);
}
#home-world {
    background-color: var(--articleWorldGrey);
    margin-bottom: 40px;
}

/******************MOBILE headers**********************/

h1 {
    font-family: starwars-font-regular;
    font-weight: 100;
    letter-spacing: 10px;
    font-size: 5vw;
    color: var(--yellow);
    width: 250px;
    text-align: left;
    padding: 50px 0 50px 0;
    margin: 0 0 0 10%;
    opacity: .8; 
}
.character-header h3 {
    font-family: starwars-font-regular;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 24px;
    color: var(--yellow);
    text-align: center;
    padding: 10px 0;
    background-color: var(--characterHeaderGrey);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.details-header h3 {
    font-family: starwars-font-regular;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 24px;
    color: var(--yellow);
    text-align: center;
    padding: 10px 0;
    background-color: var(--articleWorldGrey);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.char-info-wrapper h4 {
    font-size: 16px;
    color: white;
    text-align: center;
    font-weight: 900;
}

#char-details h4 {
    color: var(--darkergrey);
}


/************MOBILE BUTTON design*************/

.page-btn-design {
    width: 40%;
    background: none;
    border: 0;
}

.button-design {
    width: 100%;
    border: 0;
    text-decoration-color: var(--lightlightgrey);
    margin: 0;
    padding: 9px 0;
}
.button-darker {
    background-color: var(--darkButtonGrey);
}
.button-lighter {
    background-color: var(--lightButtonGrey);
}

.button-design:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button-design:visited {
    border: none;
}
.button-design:active {
    border: none;
}
.active-button {
    background-color: var(--darkergrey);
    color: rgb(255, 255, 255, .8);
}

#characters p {
    color: var(--lightlightgrey);
    text-align: center;
    font-size: 12px;
    background-color: var(--lightgrey);
    padding: 8px 0;
    min-width: 80px;
}
#page-number {
    color: var(--darkergrey);
    font-weight: 900;
    padding: 0 10px;
    min-width: 80px;
}

.lighter-ptag {
    color: white;
}
.darker-ptag {
    color: var(--backgroundGrey);
}
.white {
    color: white;
}


/***************MOBILE list Style ***************/
ul {
    list-style: none;
    color: var(--darkgrey);
    padding: 5px;
}
li {
    padding: 0px;
    margin-top: 2px;
}



@media screen and (min-width: 770px) {

    /***************DESKTOP WRAPPERS******************/
    body {
        background-color: var(--darkyellow);
    }
    .wrapper {
        max-width: 960px;
        margin: auto;
        display: grid;
        grid-template-columns: 50px repeat(3, 1fr) 50px;
        grid-template-rows: 250px 50px auto;
        box-shadow: 30px 30px 30px black;
    }
    header {
        grid-column: 1/span5;
        grid-row: 1/span2;
        background-repeat: no-repeat;
        background-size: auto 100%;
        max-height: 300px;
    }
    main {
        grid-column: 2/span2;
        grid-row: 2/span2;
        display: grid;
        grid-template-columns: repeat(2, 1fr) 50px;
        grid-template-rows: 200px 200px;
    }
    article {
        margin: 0 40px 40px 40px
    }
    .all-info {
        height: 100%;
    }

    .homeworld {
        height: 166px;
        padding: 5px;
        grid-row: 2;
        grid-column: 2;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        color: rgb(255, 255, 255, .8);
    }

    #char-details {
        height: 166px;
        padding: 5px;
    }

    #character-wrapper {
        grid-column: 1;
        grid-row: 1/span2;
    }

    /***************DESKTOP HEADERS******************/

    h1 {
        font-size: 44px;
        padding: 80px 0 100px 0;
        width: 300px;
    }
    .character-header h3 {
        font-size: 2vw;
    }
}




    

